*.o
*.sw?
*~

.deps
.dirstamp
Makefile
Makefile.in

/aclocal.m4
/autom4te.cache
/compile
/config.*
/configure
/depcomp
/install-sh
/missing
/stamp-h1

/docs/Doxyfile
/docs/html
/docs/latex
/docs/oshu.1
/docs/oshu-library.1

/share/samples*

/src/oshu
/src/oshu-library
/oshu-*.tar.*
