*.o
*.log
*.trs
*.sw?
*~

.deps
.dirstamp
Makefile
Makefile.in

/aclocal.m4
/autom4te.cache
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/test-driver

/docs/Doxyfile
/docs/html
/docs/latex
/docs/oshu.1
/docs/oshu-library.1

/share/samples*

/src/liboshu.a
/src/oshu
/src/oshu-library
/src/tests/zerotokei
/oshu-*.tar.*
