[Desktop Entry]
Type=Application
Name=Oshu
GenericName=Rythm Game
GenericName[fr]=Jeu de Rythme
Comment=Lightweight osu! port
Comment[fr]=Adaptation légère de osu!
Exec=oshu %F
MimeType=text/x-osu
Terminal=true
Categories=Game;X-Music;X-Rythm
